/* body{
    background-color: rgb(203, 252, 252);
} */

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}
/* navbar icon  */
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important; 
    /* important is ued for over powering bootstrap styling; */
}