<%layout("/layout/boilerplate")-%> 
<body>
    <form method="POST" action="/listings?_method=POST">
        <h3>Create a New Listing</h3>
        <input type="text" name="listing[title]" placeholder="enter title"><br><br>
        <textarea name="listing[description]" placeholder="enter description"></textarea><br><br>
        <input type="text" name="listing[image]" placeholder="enter image url"><br><br>
        <input type="number" name="listing[price]" placeholder="enter price"><br><br>
        <input type="text" name="listing[location]" placeholder="enter location"><br><br>
        <input type="text" name="listing[country]" placeholder="enter country"><br><br>
        <button>Submit</button>
    </form>
</body>



