<%layout("/layout/boilerplate")-%>
    <div class="row">
        <div class="col-8 offset-2 ">

            <body>
                <h3>Create a New Listing</h3>
                <form method="POST" action="/listings?_method=POST" class="needs-validation" novalidate>

                    <div class="mb-3"><label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Connaught Place" class="form-control"
                            required>
                        <div class="invalid-feedback">Invalid Title</div>
                    </div>


                    <div class="mb-3"><label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="enter description" required
                            class="form-control"></textarea>
                        <div class="invalid-feedback">Add Description</div>

                    </div>


                    <div class="mb-3"><label for="Image" class="form-label">Image</label>
                        <input type="text" name="listing[image][url]" placeholder="enter image url" class="form-control">
                        <div class="invalid-feedback">Invalid Image Url</div>
                    </div>


                    <div class="mb-3"><label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="1,200" class="form-control" required>
                        <div class="invalid-feedback">Invalid Price</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6"><label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" placeholder="New Delhi" class="form-control"
                                required>
                            <div class="invalid-feedback">Invalid Location</div>
                        </div>


                        <div class="mb-3 col-md-6"><label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" placeholder="India" class="form-control"
                                required><br><br>
                            <div class="invalid-feedback">Invalid Country</div>
                        </div>

                    </div>


                    <button class="btn btn-dark add-btn">Add</button>
                </form>
            </body>
        </div>
    </div>